---
import type IProject from "types/project";
import IconMapper from "components/atoms/IconMapper";

export type Props = IProject & Record<string, any>;

const { title, summary, links, stack, featured, ...props } =
  Astro.props as Props;
---

<article
  class="flex flex-col justify-between rounded-md bg-snowStorm2-500 p-4 relative"
  {...props}
>
  <div>
    <h1 class="mb-3 font-semibold text-4xl">{title}</h1>
    <p class="mt-2 mb-4 leading-tight">
      {summary}
    </p>
  </div>
  <div class="flex items-center flex-wrap gap-[0.4rem] w-fit">
    {
      stack.map((label) => (
        <span class="text-sm font-semibold bg-polarNight2 text-snowStorm0 min-h-[1.5rem] grid place-items-center px-[0.7rem] pt-[4px] rounded-[0.3rem]">
          {label}
        </span>
      ))
    }
  </div>

  <div class="flex items-center gap-2 absolute top-4 right-4">
    <a
      target="_blank"
      href={links.github}
      rel="noopener noreferrer"
      aria-label="Github Link"
    >
      <IconMapper client:visible name="github" />
    </a>
    <a
      target="_blank"
      href={links.live}
      rel="noopener noreferrer"
      aria-label="Live site link"
    >
      <IconMapper client:visible name="link" />
    </a>
  </div>
</article>
